.jet-carousel {
	margin-left: -10px;
	margin-right: -10px;

	&-wrap {
		&.jet-equal-cols {
			.slick-track {
				display: flex;
				align-items: stretch;
			}
			.jet-carousel__item {
				float: none;
				height: auto;
				display: flex;
				flex-direction: column;

				img {
					object-fit: cover;
					flex-grow: 1;
				}
				.jet-carousel__item-inner,
				.jet-banner,
				.jet-banner__link {
					display: flex;
					flex-direction: column;
				}
				.jet-carousel__item-inner,
				.jet-carousel__item-inner > *:last-child,
				.jet-banner__link {
					flex-grow: 1;
				}
			}
		}
	}

	&__item {
		padding: 10px;

		.jet-banner {
			float: none;
		}
	}
	&__content {
		position: relative;
		z-index: 2;
	}

	&__content,
	&__item-title,
	&__item-text {
		transition: all 200ms linear;
	}

	.jet-arrow {
		position: absolute;
		top: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 999;
		transition: all 200ms linear;

		&:before {
			display: block;
			width: 100%;
			text-align: center;
			line-height: 0;
			transition: all 200ms linear;
		}
		&.prev-arrow {
			left: 0;
		}
		&.next-arrow {
			right: 0;
		}
	}

	.jet-slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 99;
		li {
			padding: 5px;
			margin: 0;
			list-style: none;
			span {
				transition: all 200ms linear;
				display: block;
				cursor: pointer;
				width: 10px;
				height: 10px;
				border-radius: 5px;
				padding: 0;
				text-indent: 10em;
				overflow: hidden;
				&:before {
					display: none;
				}
			}
		}
	}
}

.elementor-jet-carousel .jet-carousel,
.elementor-jet-posts .jet-carousel > .jet-posts {
	&:not(.slick-initialized) {
		display: flex;
		visibility: hidden;
	}
}